/* Custom Styles */
.banner {
    background: url('Spiiral_Amionumonnoitinoon_natural_soft_light_soft_blurred_shad_dbeefb78-288b-47a8-ab79-a51b83372642.png') no-repeat center center;
    background-size: cover;
    padding: 150px 0;
}

.banner h1 {
    font-size: 3.5rem;
    font-weight: bold;
}

.banner p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}
