/* Custom Styles */
.banner {
    background: url(https://github.com/daninets/danielnets-portfolio/blob/2a66cfc1e964edd1be5aaebd5a4987dc0930acb8/Spiiral_Amionumonnoitinoon_natural_soft_light_soft_blurred_shad_dbeefb78-288b-47a8-ab79-a51b83372642.png) no-repeat center center;
    background-size: cover;
    padding: 150px 0;
    color: white; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 
}

.banner h1 {
    font-size: 3.5rem;
    font-weight: bold;
}

.banner p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}
